<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(find tt_gazebo)/world/map.world"/>
    <!-- more default parameters can be changed here -->
    
  </include>
</launch>
